.create-container {
	position: relative;
}

.create-container h1 {
	margin: 30px 10px 0px 10px;
	text-align: center;
	color: #ED2515;
}

.create-container h2 {
	margin: 0px 10px 50px 10px;
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	color: #656F85;
}

.input-field-login {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.input-field-login input {
	width: 60%;
}

.link-login {
	display: block;
  	width: 100%;
  	text-align: center;
}

.link-login button {
	margin: 50px 0px 75px 0px;
}

#register-link {
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	text-align: center;
	font-size: 16px;
}

#register-link a {
	color: #ED2515;
}